@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
   
   
}
body{
    font-family :sans-serif;
     box-sizing: border-box;
}


 
                                /* contact-first-part css */
.contact-first-part{
    height: 248px;
    background: #101010;
}

.contact-header{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-align: center;
/* color: red; */
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding: 100px;
}

                                     /* contact-second-part css */

 .contact-second-part{
     height: 871px;
     background: #191919;
 }
.all-contact-input-box{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-input-field{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px ;
}


.top-header{
    text-align: center;
    padding: 52px;
}
.top-header h6{
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
}
.top-header h2{
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;

}

.email-box , .password-box{
box-sizing: border-box;
width: 638px;
height: 44px;
border: 1px solid #E9ECEF;
border-radius: 5px;
margin-top: 16px;
margin-bottom: 12px;
background: #101010;
color: #FFFFFF;

}
.contact-input-field label{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.comment-box{
    width: 1296px;
height: 268px;
border: 1px solid #E9ECEF;
border-radius: 5px;
margin-top: 16px;
margin-bottom: 12px;
background: #101010;
color: #FFFFFF;
}
.comment label{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.contact-submit-box{
    box-sizing: border-box;
outline: none;
border: none;
width: 1296px;
height: 48px;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
border-radius: 5px;


font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;

margin-top: 42px;
}

                /* contact-third-part css */

/* .contact-third-part{
      box-sizing: border-box;
      width: 100%;
height: auto;
background: #FFFFFF;
}
.contact-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.contact-card{
width: 419px;
height: 240px;
background: #E9ECEF;
border-radius: 10px;

} */
/* .contact-card:hover{
    background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
    color: white !important;
}
.contact-card p:hover{
 color: white !important;
} */
/* .contact-card:hover{
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
color: #FFFFFF;
}
.contact-content{
   display: flex;
   justify-content: center;
   align-items: center;
  flex-direction: column;
} */
.contact-third-part{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.contact-content img{
    /* height: 40px;
width: 50px; */
box-sizing: border-box;
display: block;
margin: auto;
}

.contact-content p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 27px;
text-align: center;
color: #1C1E1A;
margin-top: 34px;
}
.contact-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card{
    display: grid;
    justify-content: center;
    align-items: center;
width: 419px;
height: 240px;
background: #E9ECEF;
border-radius: 10px;
}
.card:hover{
    background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
color: #FFFFFF;
}
@media only screen and (max-width: 600px) {

    /* contact-first-part css */

.contact-first-part{
    width: 100%;
    height: 72px;
    background: #101010;
}

.contact-header{
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
padding: 20px;
}

    /* contact-second-part css */
.contact-second-part{
     height: auto;
     width: 100%;
     background: #191919;
 }

.contact-input-field{
    flex-direction: column;
}


.top-header{
    text-align: center;
    padding: 52px;
}
.top-header h6{
font-size: 15px;
line-height: 15px;

}
.top-header h2{
font-size: 28px;
line-height: 39px;
}

.email-box , .password-box{
box-sizing: border-box;
width: 314px;
height: 35px;
margin-top: 8px;
margin-bottom: 8px;
}
.contact-input-field label{
font-size: 16px;
line-height: 20px;
}
.comment-box{
width: 313px;
height: 119.89px;
margin-top: 7px;
margin-bottom: 21px;
}
.comment label{
font-size: 16px;
line-height: 20px;
}
.contact-submit-box{
width: 313px;
height: 32px;

margin-top: 21px;
margin-bottom: 35px;
}


  /* contact-third-part css */

    .contact-third-part{
        width: 100%;
        height:auto ;
    }
    .contact-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.contact-card{
    width: 340px;
   height: 240px;
}

.contact-content{
    box-sizing: border-box;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 65px;
}

}