@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family :sans-serif;
}

.p6-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
           /* sc header */
.p6-sc-header{
 width: 360px;
height: auto;
background: #000000; 
}
.p6-sc-header img{
    width: 118.33px;
   height: 35px;
   margin-top: 9px;
   margin-bottom: 9px;
   margin-left: 23px;
}
           /* sc main */
.p6-sc-main{
    /* width: 100%; */
width: 360px;
height: auto;
background: #6F8279;
 }
 .p6-main-part1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 /* .p6-main-part1 img{
    display: block;
  margin-left: auto;
  margin-right: auto;

 } */

 .p6-main-part1{
  position: relative;
  
 }
 .p6-main-part1-text{
height: 76px;
width: 330px;
position: absolute;
margin-bottom: -400px;
text-align: center;
/* margin-left: 13px; */
background: linear-gradient(135deg, #9DC0C8 0%, #105D6D 100%);
color: white;
 }

.p6-main-part1-text h1{
    Font-family: Montserrat;
Font-style: Bold;
Font-size: 20px;
Line-height: 40px;
Letter-spacing: 15%;
}
.p6-main-part1-text h2{
    Font-family: Montserrat;
Font-style: Bold;
Font-size: 16px;
Line-height: 10px;
}

 .p6-main-part2{
     width: 288px;
     height: auto;
     margin: auto;
     margin-top: 90px;
 }
 .p6-all-social-icon{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   gap:10px
 }
 .main-part3{
width: 336px;
height: 231px;
background: #6B7C74;
border-radius: 13px;
margin-top: 24px;
 }
 .p1-div2{
     display: flex;
     justify-content: center;
     align-items: center;
 }
 .main-part3 p{
     font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;
color: #ffffff;

 }
 .part3-text{
     padding-top: 16px;
     padding-bottom: 15px;
     padding-left: 12px;
     padding-right: 12px;
   
 }
.main-part4{
     /* padding-left:12px ; */
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     gap: 25px;
     padding-left: 15px;
     padding-right: 15px;
     padding-top: 30px;
     padding-bottom: 50px;
    
 }
  .main-part4 h1{
     font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #F81F01;
 } 
 .sc-icon{
     display: flex;
     
     /* justify-content: left; */
     /* align-items: center; */
     gap: 10px;

 } 
.sc-icon img{
height: 27px;
width: 16px;
}
.sc-message-icon {
height: 20px !important ; 
width: 25px !important;
} 
 .sc-location-icon {
height: 20px !important ; 
width: 25px !important;
}
.sc-icon h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
color: #FFFFFF;
}

           /* sc blog */

.sc-blog{
    /* width: 100%; */
 width: 360px;
height: auto;
background: #000000;
padding-left: 12px;
padding-right: 12px;
padding-top:18px ;
padding-bottom: 12px;
 }
 .sc-blog img{
width: 93px;
height: 27px;
margin-bottom: 9px;
 }
 .sc-blog h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
 }
           /* sc footer */

.sc-footer{
    /* width: 100%; */
 width: 360px;
height: auto;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
 }
.sc-footer h2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 40px;
color: #FFFFFF;
text-align: center;
 }



@media only screen and (max-width: 600px) {
           /* sc header */
.p6-sc-header{
 width: 100%;
 height: auto;
}
.p6-sc-main{
 width: 100%;
height: auto;
 }
  .p6-main-part1 img{
      width: 100%;
 }
 .sc-blog{
    width: 100%;
    height: auto;
}
.sc-footer{
    width: 100%; 
    height: auto;
}

}



 


 