@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family :sans-serif;
}
                              /* product first part css */

.product-first-part{
    height: 248px;
    background: #101010;
}

.product-header{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 49px;
text-align: center;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding: 100px;
}

                               /* product cards css */

 
.product{
  height: 1633px;
  width: 100%;
  background: #191919;
   padding-top: 100px;
}

.p-card{
  background-color: #191919 !important;
}
.p-card img{
   border-radius: 0px !important;
}

.p-card img:hover{
  background: #1C1E1A;
   transform: scale(1.05);
   transition: 1s ; 
  
}


.product-card-body h6 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
padding-top: 20px;
}
.product-card-body h2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;

color: #FFFFFF;
}
.product-card-body h5 {
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
}
.product-card-body span {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #CED4DA;

}

