@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
body{
    font-family :sans-serif;
    /* background-color: black;
    color: white; */

}
.white{
    color:white
}
.red{
    color:#F81F01;
}

.footer{
    background-color: #101010 ;
    color: white;
}

.navbar-nav{
margin-right: 90px;  
}
.nav-item{
  margin-left: 10px;
}
                                        /* navbar css */



.nav-item a{
  font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-transform: uppercase;
}

 .nav-item a{
  color:white;
  font-size: 14px;

font-weight: 500;
font-size: 14px;
text-transform: uppercase;
}

.nav-item a .bi{
font-size: 10px;
padding-left: 2px;
}

.nav-item a:hover{
  color:#F81F01;
}
.nav-btn{
padding: 10px;
width: 86px;
height: 41px;
text-align: center;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
border-radius: 5px;

font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.15em;
text-transform: uppercase;
margin-left: 10px;
/* White */

color: #FFFFFF;
}

.navbar-toggler{
  color: white;
  font-weight: 700;
  background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
  padding: 10px;
  letter-spacing: 0.15em;
}



                                          /* banner css  */




 .banner{
    background-image: url('./img/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position:top; */
}

.banner-container{
  display: flex;
    width: 100%;
    height: 700px;
}
.banner-1{
  width: 100%;
  margin-top: 120px;
}
.banner-1 h6{
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.12em;
text-transform: uppercase;
color: #FFFFFF;
text-align: right;
margin-top:230px ;
}
.banner-1 h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 52px;
line-height: 63px;
text-align: right;
color: #FFFFFF;
margin-top:10px ;
}

.btn-hero{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.btn-hero button{
  padding: 15px 15px;
  border-radius: 5px;
  display:block;
  margin-left: 30px;
  margin-bottom: 20px;
   background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
   color: white;
   font-weight: 700;
font-size: 18px;
line-height: 22px;

letter-spacing: 0.15em;
text-transform: uppercase;
} 



 @media only screen and (max-width: 992px) {
  .banner{
    height: 450px;
    width: 100%;
    background-size: cover;
   background-position: top;
  }
 .banner-1{
    margin-top: 0px;
  }
.banner__2{
  width: 100%;
}
.banner-1 h6{
font-size: 16px;
line-height: 20px;
margin-top:130px ;
}
.banner-1 h1{
font-size: 40px;
line-height: 53px;
margin-top:10px ;
}
.btn-hero button{
margin-top: 20px;
}

}

@media only screen and (max-width: 768px) {
  .banner{
    height: 350px;
    background-size: cover;
   background-position: top;
   padding-top: 100px;
   padding-bottom: 150px;
  }
 .banner-1{
    margin-top: 40px;
  }
.banner-1 h6{
font-size: 12px;
line-height: 15px;
margin-top:20px ;
}
.banner-1 h1{
font-size: 30px;
line-height: 33px;
margin-top:10px ;
}
.btn-hero button{
margin-top: 5px;
}

} 
@media only screen and (max-width: 550px) {
  .banner{
    height: 250px;
    background-size: cover;
   padding-top: 100px;
   padding-bottom: 90px;
  }
  .banner-1{
    margin-top: 0px;
  }
.banner-1 h6{
font-weight: 300;
font-size: 10px;
line-height: 10px;
letter-spacing: 0.10em;
}
.ban-1{
  position: relative;
}
.ban-1 h6{
  position: absolute;
  left: 0;
  top: -110px;
   width: 55%;
   font-weight: 700;
font-size: 12px;
line-height: 13px;
text-align: center;
letter-spacing: 0.15em;
}
.ban-2{
  position: relative;
 
}
.ban-2 h1{
  position: absolute;
  right: 0;
  top: 60px;
   width: 60%;
   font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 22px;
}
.banner-1 h1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 23px;
color: #FFFFFF;
padding-right: 10px;
}
.btn-hero{
  display: none;
}
.btn-hero button{
  padding: 10px 10px;
  border-radius: 5px;
  display:block;
  margin-left: 30px;
  margin-bottom: 10px;
   background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
   color: white;
   font-weight: 700;
    font-size: 10px;
   line-height: 12px;

letter-spacing: 0.15em;
text-transform: uppercase;
} 

} 

                                              /* product css */



.product{
    background-color: black;
    height: 775px;
    width: 100%;
    padding-bottom: 50px;
}

.product__cards__row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.product-header{
  padding-top: 50px;
  padding-bottom: 50px;
}
.p-head1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
}

.p-head2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
text-align: center;
}

.product-card img:hover{
  background: #1C1E1A;
   transform: scale(1.05);
   transition: 1s ; 
}

.p-img2{
width: 309px;
height: 309px;
}

.product-card h6 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;

color: #F81F01;
}
.product-card h2 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px;
text-align: center;

color: #FFFFFF;
}
.product-card h5 {
 font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;

text-align: center;

color: #FFFFFF;
}
.product-card span {
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #CED4DA;
}

/* .product-section {
  position: relative;
}
.carousel-btn {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 22px;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 50%;

}

.carousel-btn.prev {
  left: -90px;
}

.carousel-btn.next {
  right: -90px;
} */

.product__btn__hero{
    outline: none;
    display: block;
    margin: auto;
    border: none;
    margin-top: 90px;
    width: 279px;
    height: 54px;
    padding: 16px 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15em;
    background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
    border-radius: 5px;
    color: white !important;

}

@media screen and (max-width: 600px) {
.product{
    background-color: black;
    height: auto;
    width: 100%;
}
.p-img2{
width: 100%;
height: 100%;
}
.product-btn{
  display: none;
}
.product-card h2 {
font-size: 20px;
line-height: 20px;
}
.product-card h5 {
font-size: 22px;
line-height: 27px;
}
.product__btn__hero{
  margin-top: 50px;
}
}

@media only screen and (min-width: 600px) {
 .product{
    background-color: black;
    height: auto;
    width: 100%;
}
.p-img2{
width: 100%;
height: 100%;
}
.product-btn{
  display: none;
}
.product-card h2 {
font-size: 20px;
line-height: 20px;
}
.product-card h5 {
font-size: 22px;
line-height: 27px;
}
.product__btn__hero{
  margin-top: 50px;
}

}
@media only screen and (min-width: 768px) {
.product{
    background-color: black;
    height: auto;
    width: 100%;
}
.p-img2{
width: 100%;
height: 100%;
}
.product-btn{
  display: block;
}
.product-card h2 {
font-size: 20px;
line-height: 20px;
}
.product-card h5 {
font-size: 22px;
line-height: 27px;
}
.product__btn__hero{
  margin-top: 50px;
}

}
@media only screen and (min-width: 992px) {
.product{
    background-color: black;
    height: auto;
    width: 100%;
}
.p-img2{
width: 100%;
height: 100%;
}
.product-btn{
  display: block;
}
.product-card h2 {
font-size: 28px;
line-height: 34px;
}
.product-card h5 {
font-size: 22px;
line-height: 27px;
}
.product__btn__hero{
  margin-top: 90px;
}

}

                           /* feature css */



.feature{
height: 1129px;
width: 100%;
background: #101010;
}

.feature__cards__row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.feature-header{
  padding-top: 50px;
  padding-bottom: 50px;
}
.f-head1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
}

.f-head2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
}
.feature-box {
  box-sizing: border-box;
width: 419px;
height: 419px;
border-radius: 10px;
 background: #191919;
 padding: 0px;
 /* padding: 20px; */
 margin-bottom: 50px;
}
.feature-box img {
    margin-top: 74px;
    margin-bottom: 14px; 
   
}
.feature-box h5 {
font-size: 22px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0.15em;
text-align: center;
color: white;
text-transform: uppercase;
margin-top: 27px;

}
.feature-box p {
    margin-top: 8px;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
/* margin-left: 40px;
margin-right: 40px; */

}

.feature-box:hover {
   background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
   /* transform: scale(1.05);
   transition: 1s ; */
}

@media only screen and (max-width: 600px) {
.feature{
  width: 100%;
  height: auto;
   background: #101010;
   padding-bottom: 60px;
}
.feature__cards__row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.feature-box {
  box-sizing: border-box;
width: 100%;
height: 100%;
border-radius: 10px;
 background: #191919;
/* padding-top: 0px; */
 margin-bottom:0px;
}
.feature-box img {
    margin-top: 10px;
    margin-bottom: 5px; 
}
.feature-box h5 {
font-size: 15px;
line-height: 18px;
margin-top: 10px;

}
.feature-box p {
  font-size: 12px;
line-height: 15px;
 margin-top: 8px;
/* margin-left: 40px;
margin-right: 40px; */

}
} 


@media only screen and (min-width: 600px) {
.feature{
  width: 100%;
  height: auto;
   background: #101010;
   padding-bottom: 60px;
}
.feature__cards__row{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.feature-box {
width: 100%;
height: 100%;
border-radius: 10px;
 background: #191919;
  padding: 10px;
 margin-bottom:20px;
}
.feature-box img {
    margin-top: 20px;
    margin-bottom: 10px; 
   
}

} 


@media only screen and (min-width: 768px) {
.feature{
  width: 100%;
  height: auto;
   background: #101010;
   padding-bottom: 60px;
}
.feature__cards__row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.feature-box {
width: 100%;
height: 100%;
border-radius: 10px;
 background: #191919;
  padding: 15px;
 margin-bottom:30px;
}
.feature-box img {
    margin-top: 40px;
    margin-bottom: 5px; 
   
}

}
@media only screen and (min-width: 992px) {
.feature{
  width: 100%;
  height: auto;
   background: #101010;
   padding-bottom: 60px;
}
.feature__cards__row{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}
.feature-box {
width: 100%;
height: 100%;
border-radius: 10px;
 background: #191919;
  padding: 20px;
 margin-bottom:50px;
}
.feature-box img {
    margin-top: 50px;
    margin-bottom: 14px; 
   
}

}
                                      /* subscription css */



.subscription{
  width: 100%;
height: auto;
background: #FFFFFF;
padding-bottom: 40px;
}     
.sub-head1{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
margin-top: 50px;

}   
.sub-head2{
 font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #1C1E1A;
margin-bottom: 50px;
}
.sub-cards{
  display: flex;
  justify-content: center;
  align-items: center;
    grid-gap: 20px;
}
.sub-card{
width: 419px;
height: 406px;
background: #E9ECEF;
border-radius: 10px;
}
.sub-card:hover{
  background: black; 
}
.sub-card p:hover{
  color: white !important; 
}
.sub-card img{
   display: block;
    margin: 10%;
  margin-left: auto;
  margin-right: auto;
}

.sub-card h3{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 32px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1C1E1A;
}
.sub-card p{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin-top: 12px;
margin-left: 15px;
margin-right: 15px;
text-align: center;
color: #1C1E1A;
}
.sub-card h5{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 32px;
margin-top: 29px;
letter-spacing: 0.15em;
text-transform: uppercase;
text-align: center;
color: #1C1E1A;
}
.sub-card h6{
font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 27px;
margin-top: 12px;
margin-bottom: 64px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1C1E1A;
text-align: center;
}
.sub-all-btn{
color: white;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
border-radius: 5px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;
display: block;
margin: auto;
margin-top: 60px;
padding: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.subscription{
  width: 100%;
height: auto;
background: #FFFFFF;
}    
.sub-cards{
  display: flex;
  flex-direction: column;
}
.sub-card{
width: 100%;
background: #E9ECEF;
border-radius: 10px;
}
.sub-card img{
   box-sizing: border-box;
   margin:10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
.sub-btn{
  display: none;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
.subscription{
  width: 100%;
height: auto;
background: #FFFFFF;
}    
.sub-card{
width: 100%;
height: auto;
background: #E9ECEF;
border-radius: 10px;
}
.sub-card img{
  box-sizing: border-box;
  margin: 10%;
   display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-btn{
  display: none;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.subscription{
  width: 100%;
height: auto;
background: #FFFFFF;
}    
.sub-card{
width: 100%;
background: #E9ECEF;
border-radius: 10px;
height: auto;
}
.sub-card img{
   box-sizing: border-box;
    margin: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-btn{
  display: block;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.subscription{
  width: 100%;
height: auto;
background: #FFFFFF;
}    

.sub-card{
width: 100%;
background: #E9ECEF;
border-radius: 10px;
}
.sub-card img{
  box-sizing: border-box;
   margin: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sub-btn{
  display: block;
}
}


                                       /* work css */

.work{
height: 1459px;
background: #E9ECEF;
padding-bottom: 20px;
}
.w-head1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

margin-top: 22px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
padding-top: 50px;
}
.w-head2{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
margin-bottom: 52px;
text-align: center;
color: #1C1E1A;
}

.work_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work_card img {
  width: 309px;
height: 309px;
}

.work_text {
  width: 309px;
height: auto;
margin-left: 20px;
}

.work_text h4 {
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
}
.work_text h3 {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 29px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1C1E1A;
}

.work_text p {
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;

color: #000000;

}


 @media only screen and (max-width: 768px){
   .work{
height: 100%;
background: #E9ECEF;

}
.work_card img {
  width: 209px;
height: 209px;
}
.work_text {
  width: 209px;
height: 209;
margin-left: 20px;
}
.work_text h4 {
font-size: 15px;
line-height: 10px;
letter-spacing: 0.15em;
}
.work_text h3 {
font-size: 14px;
line-height: 15px;
letter-spacing: 0.15em;
}

.work_text p {
font-size: 14px;
line-height: 20px;

color: #000000;

}

 }
 @media only screen and (max-width: 550px){
 .work{
height: 100%;
background: #E9ECEF;

}
.work_card img {
  width: 150px;
height: 150px;
}
.work_text {
  width: 150px;
height: 150;
margin-left: 20px;
}
.work_text h4 {
font-size: 14px;
line-height: 10px;
letter-spacing: 0.15em;
}
.work_text h3 {
font-size: 13px;
line-height: 13px;
letter-spacing: 0.15em;
}

.work_text p {
font-size: 12px;
line-height: 14px;

color: #000000;

}

 }

                                  /* video css */

.video{
  background-color: black;
  height: 100%;
  width: 100%;
  padding-bottom: 52px;
}
.v-header{
  text-align: center;
}
.v-header h6{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
padding-top: 52px;
}
.v-header h1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
text-align: center;
color: #FFFFFF;
padding-bottom: 52px;
}
.videos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.v-1 video{
  width:538px ;
   height:350px ;
}
.v-all-btn{
color: white;
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
border-radius: 5px;
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;
display: block;
margin: auto;
margin-top: 60px;
padding: 15px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .video{
    width: 100%;
    padding-bottom: 39px;
  }
  .videos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.v-header h6{
  padding-top: 33px;
}
.v-header h1{
  padding-bottom: 12px;
}
.v-1 video{
  width:100%;
   height: 50%;
   margin-top: 30px;
}
.v-2{
  display: none;
}
.v-all-btn{
  margin-top: 22px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .video{
    width: 100%;
  }
  .videos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.v-1 video{
  width:100%;
}
.v-2{
  display: none;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
.v-1 video{
  width:100%;
}
.v-2{
display: block;
}
}

                     /* advertisement css */
.advertisement{
height: 200px;
background: #E9ECEF;
}
.adv-text{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 34px;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1C1E1A;
padding: 70px;
}
@media only screen and (max-width: 768px) {
  .advertisement{
    width: 100%;
  }

}
@media only screen and (max-width: 550px) {
  .advertisement{
    width: 100%;
  }
   .adv-text{
font-size: 20px;
line-height: 30px;
padding: 50px;
}
}


                                            /* faq css */


.faq{
height: auto;
width: 100%;
background: #191919;
padding-bottom: 100px;
}
.faq-header{
  margin-left: 10px;
}
.faq-head1{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #F81F01;
padding-top: 52px;
}
.faq-head2{
 font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
padding-bottom: 41px;
}
.faq-content{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
.faq-img{
   margin-bottom:60px ;
}
.faq-img img{
  width: 638px; 
  height: 416px;
}
.question span{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 22px;
color: #FFFFFF;
margin-bottom: 20px;
margin-top: 10px;
}
.faq-p{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
width: 600px;
height: auto;
}
.faq-text{
    max-width: 600px;
}

.question{
    border-top: 1px solid #F81F01;
}
.q_last{
     border-bottom: 1px solid #F81F01;
     
}
.question button{
    width: 100%;
    background: #191919;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border:none;
    outline: none;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
}
.question p{
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}
.d-plus{
    transition: transform 0.5s ease-in ;
    color: #F81F01;
}

/*add this class when click*/
.question p.show{
    max-height: 200px; 
    opacity: 1;
    padding:0px 15px 30px 15px;
}
.question button .d-plus.rotate{
    transform: rotate(180deg);
}


@media only screen and (max-width: 600px) {
  .faq{
    height: auto;
    width: 100%;
  }
  .faq-header{
    margin-left: 0px;
  }
   .faq-text{
    width: 100%;
  }
   .faq-img{
  display: none;
  }
 
}
@media only screen and (min-width: 600px) {
  .faq{
    height: auto;
    width: 100%;
  }
    .faq-header{
    margin-left: 0px;
  }
  .faq-text{
    width: 100%;
  }
  .faq-img{
   display: none;
  }
 
}
@media only screen and (min-width: 768px) {
  .faq{
    height: auto;
    width: 100%;
  }
    .faq-header{
    margin-left: 50px;
  }
  .faq-text{
    width: 100%;
  }
  .faq-img{
   display: none;
  }
 
}

@media only screen and (min-width: 992px) {
 .faq{
    height: auto;
    width: 100%;
  }
  .faq-header{
    margin-left: 0px;
  }
     .faq-text{
    width: 100%;
  }
  .faq-img {
   display: block;

  }
  .faq-img img{
    width: 100%;
  }
}





                                    /* logo css */


.logo{
  width: 100%;
background: #E9ECEF;
}
.logo-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #E9ECEF;
    padding: 80px;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
}
@media only screen and (max-width: 768px) {
  .logo{
    width:100%
  }
  .logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
      padding: 50px;
  }
}
@media only screen and (max-width: 550px) {
  .logo{
    width:100%
  }
  .logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
      padding: 80px;
  }
}


/* unlock css */
.unlock{
background: linear-gradient(135deg, #F81F01 0%, #EE076E 100%);
}
.unlock-content{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    padding: 60px;
   
}
.unlock-content h6{
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #FFFFFF;
}
.unlock-content h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;

}
.unlock-btn button{
width: 181px;
height: 45px;
background: #FFFFFF;
border-radius: 5px;
border: none;

font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.15em;
text-transform: uppercase;
color: #1C1E1A;
}




@media only screen and (max-width: 768px) {
  .unlock{
   width: 100%;
  }
 .unlock-content{
    display: flex;
  flex-direction: column;
  justify-content: center;
    align-items:center;
}
.unlock-content h6{
text-align: center;
}
.unlock-content h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
text-align: center;
}
.unlock-btn button{
  margin-top: 20px;
}
}
@media only screen and (max-width: 550px) {
  .unlock{
   width: 100%;
  }
 .unlock-content{
    display: flex;
  flex-direction: column;
  justify-content: center;
    align-items:center;
}
.unlock-content h3{
  font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 35px;
}

.unlock-btn button{
  margin-top: 20px;
}
}

                                   
                                      /*footer css*/

                                          
.footer{
height: auto;
width: 100%;
background: #191919;
padding-top: 30px;
padding-bottom: 10px;
}


.footer_container_row{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 20px;
justify-content: center;
align-items: center;
}




.footer_container{   
    justify-content: center;
    align-items: center;
}

.f-div2{
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.box2 a{
 display: block;
 color: white;
 text-decoration: none;
}
.box2 a:hover{
 color: #F81F01
}
.box3{
    padding-top: 2rem ;
}
.box3 a{
 display: block;
 color: white;
 text-decoration: none;
}
.box3 a:hover{
 color: #F81F01;
}
.footer_btn{
  
  border-radius: 5px;
  width: 50%;
  font-weight: 700;
  padding: 10px;
}
.message_box{  
    border:0;
    outline: none;
    color: white;
    background: transparent;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.social_icon{
  display: flex ;

} 
.social_icon a{
 width: 30px;
     height: 30px;
     text-align: center;
     text-decoration: none;
     background-color: black;
     color:white;
     margin: 0 5px;
     border: 1px solid white;
}
.social_icon a:hover{
 width: 30px;
     height: 30px;
     text-align: center;
     text-decoration: none;
     background-color: #F81F01;
     color:white;
     margin: 0 5px;
      border: none;
}
.social_icon .bi{
 line-height: 30px;
}
.footer_btn{
width: 200px;
}

 
@media only screen and (max-width: 768px) {
  .footer{
    width: 100%;
  }
  .footer_container_row{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 20px;
justify-content: center;
align-items: center;
}
  .message_box{  
    border:0;
    outline: none;
    color: white;
    background: transparent;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.social_icon .bi{
 line-height: 30px;
}
.footer_btn{
  border-radius: 5px;
  width: 60%;
  font-weight: 700;
  padding: 10px;
}
.message_card{
  display: flex;
  justify-content: center;
  align-items: center;
}

}

 @media only screen and (max-width:550px){
   .footer_container{
     text-align: center;
   }
     .footer_container_row{
display: grid;
grid-template-columns: repeat(1,1fr);
grid-gap: 20px;
justify-content: center;
align-items: center;
}
   .social_icon{
   text-align: center;
   display: inline-block;
} 
.social_icon .bi{
 line-height: 30px;
}
.footer_btn{
  border-radius: 5px;
  width: 56%;
  font-weight: 700;
}
.message_card{
  display: flex;
  justify-content: center;
  align-items: center;
}
}